<div class="container-fluid bg-warning">
    <div class="container py-3">
        <h1 class="display-1 py-2"> <%- title %>  </h1>
        <hr/>
        <p class="col-sm-6 fs-5">
            <strong>Difficulty:</strong> <%= data[0]['dif'] %> <br/>
            <strong>Total:</strong> <%= data.length %> Questions
        </p>
    </div>
</div>

<div class="container-fluid py-5">
    <form class="container" action="/quiz?id=<%= data[0]['id'] %>" method="POST">
        <ol>
            <% for(let i = 0; i < data.length; i++) { %>
            <li>
                <h3 class="col-sm-8"> <%= data[i]['que'] %> </h3>
                <div class="q-options my-2">

                    <label class="d-block p-2">
                        <input type="radio" name="q<%= i %>" value="opt_a" required>
                        <%= data[i]['opt_a'] %>
                    </label>

                    <label class="d-block p-2">
                        <input type="radio" name="q<%= i %>" value="opt_b" required>
                        <%= data[i]['opt_b'] %>
                    </label>

                    <% if (data[i]['opt_c']) { %> 
                    <label class="d-block p-2">
                        <input type="radio" name="q<%= i %>" value="opt_c" required>
                        <%= data[i]['opt_c'] %>
                    </label>
                    <% } %>

                    <% if (data[i]['opt_d']) { %> 
                    <label class="d-block p-2">
                        <input type="radio" name="q<%= i %>" value="opt_d" required>
                        <%= data[i]['opt_d'] %>
                    </label>
                    <% } %>
                    
                    <% if (data[i]['opt_e']) { %> 
                    <label class="d-block p-2">
                        <input type="radio" name="q<%= i %>" value="opt_e" required>
                        <%= data[i]['opt_e'] %>
                    </label>
                    <% } %>
                </div>
            </li>
            <% } %>
        </ol>
        <div class="pt-3">
            <button type="submit" class="btn btn-lg btn-warning">Submit</button>
        </div>
    </form>
</div>