<div class="container-fluid bg-warning">
    <div class="container py-3">

        <% if (report["score"] == 100) { %>
            <h1 class="display-1 py-2">Congratulations for <%= report["score"] %>%</h1>
            <a href="/all-quiz" class="btn btn-outline-dark">Find Another</a>
        <% } else if (report["score"] == 0) { %>
            <h1 class="display-1 py-2">Sorry for <%= report["score"] %>%</h1>
            <a href="/quiz?id=<%=id%>" class="btn btn-outline-dark">Retake</a>
        <% } else { %>
            <h1 class="display-1 py-2">You Scored <%= report["score"] %>%</h1>
            <a href="/quiz?id=<%=id%>" class="btn btn-outline-dark">Retake</a>
        <% } %>
        
        <hr/>
        <p class="col-sm-6 fs-5">
            <strong>Quiz:</strong> <%- title %> <br/>
            <strong>Correct:</strong> <%- report["correct"] %> Questions<br/>
            <strong>Wrong:</strong> <%- report["wrong"] %> Questions<br/>
        </p>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <h2 class="mb-4 text-muted">Full Report:</h2>
        <ol>
            <% for(let i = 0; i < data.length; i++) { %>
            <li>
                <h3 class="col-sm-8"> <%= data[i]['que'] %> </h3>
                <div class="my-2">

                    <label class="d-block p-2 
                        <%= (data[i]['ans'] == 'opt_a') ? "correct" : "nuetral" %> 
                        <%= (
                            report["inputs"][i] == 'opt_a' &&
                            data[i]['ans'] != 'opt_a'
                            ) ? "wrong" : "nuetral" %> ">
                        <%= data[i]['opt_a'] %>
                    </label>
                    
                    <label class="d-block p-2 
                        <%= (data[i]['ans'] == 'opt_b') ? "correct" : "nuetral" %> 
                        <%= (
                            report["inputs"][i] == 'opt_b' &&
                            data[i]['ans'] != 'opt_b'
                            ) ? "wrong" : "nuetral" %> ">
                        <%= data[i]['opt_b'] %>
                    </label>

                    <% if (data[i]['opt_c']) { %> 
                    <label class="d-block p-2 
                        <%= (data[i]['ans'] == 'opt_c') ? "correct" : "nuetral" %> 
                        <%= (
                            report["inputs"][i] == 'opt_c' &&
                            data[i]['ans'] != 'opt_c'
                            ) ? "wrong" : "nuetral" %> ">
                        <%= data[i]['opt_c'] %>
                    </label>
                    <% } %>

                    <% if (data[i]['opt_d']) { %> 
                    <label class="d-block p-2 
                        <%= (data[i]['ans'] == 'opt_d') ? "correct" : "nuetral" %> 
                        <%= (
                            report["inputs"][i] == 'opt_d' &&
                            data[i]['ans'] != 'opt_d'
                            ) ? "wrong" : "nuetral" %> ">
                        <%= data[i]['opt_d'] %>
                    </label>
                    <% } %>
                    
                    <% if (data[i]['opt_e']) { %>
                    <label class="d-block p-2 
                        <%= (data[i]['ans'] == 'opt_e') ? "correct" : "nuetral" %> 
                        <%= (
                            report["inputs"][i] == 'opt_e' &&
                            data[i]['ans'] != 'opt_e'
                            ) ? "wrong" : "nuetral" %> ">
                        <%= data[i]['opt_e'] %>
                    </label>
                    <% } %>
                </div>
            </li>
            <% } %>
        </ol>
        <% if (report["score"] == 100) { %>
            <a href="/all-quiz" class="btn btn-outline-dark">Find Another</a>
        <% } else { %>
            <a href="/quiz?id=<%=id%>" class="btn btn-outline-dark">Retake</a>
        <% } %>
        <hr/>
    </div>
</div>